.input-wrapper
	input.form-control(matInput="", type='text',
		attr.aria-label="{{ 'Insert' | translate }} {{ 'Value' | translate }}",
		[formControl]="frm",  [maxLength]="maxLength", autoFocus="",
		(keydown)="onKey($event)")

	button.btn.input-toggle.btn-save(
		type = 'button',
		mat-icon-button="",
		matTooltipShowDelay="500", matTooltip = "{{ 'Save' | translate }}",
		automationAriaLabelClass="Save",
		(click) = "save()"
	)
		i.material-icons.mat-done

	button.btn.input-toggle(
		type = 'button',
		mat-icon-button="",
		matTooltipShowDelay="500", matTooltip = "{{ 'Cancel' | translate }}",
		automationAriaLabelClass="Cancel",
		(click) = "cancel()",
	)
		i.material-icons.mat-clear
